@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto");

@import url("contenue/container.css");
@import url("contenue/avatar.css");
@import url("contenue/button.css");
@import url("contenue/banner.css");
@import url("contenue/card.css");
@import url("contenue/card2.css");


body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}


.list-inline{
	list-style: none;
	padding-left: 0px}

.list-inline li{
	padding:10px;
	display: inline-block;
}

.list-inline i{
	font-size: 35px
}